.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    height: auto;
  }
}

.wrapper {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-bottom: 5rem;
  & h1 {
    font-size: 50px;
    line-height: 95%;
    margin-bottom: 3rem;
  }
  & p {
    font-size: 90px;
    font-weight: bold;
    line-height: 90%;
  }
  & .stroke {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (max-width: 1200px) {
    padding: 4rem 0;
    & h1 {
      font-size: 30px;
      line-height: 95%;
      margin-bottom: 3rem;
    }
    & p {
      font-size: 40px;
      font-weight: bold;
      line-height: 90%;
    }
    & .stroke {
      -webkit-text-stroke: 0.5px white;
      -webkit-text-fill-color: transparent;
    }
  }
}

.foot {
  position: absolute;
  width: 100%;
  bottom: 3rem;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
