.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  text-align: right;
  z-index: 5;
  -webkit-text-stroke: 1px #1a1a1a;
  -webkit-text-fill-color: white;
  & h1 {
    font-size: 60px;
    line-height: 95%;
    @media screen and (max-width: 1360px) {
      font-size: 5.5vw;
    }
  }
  & h2 {
    font-size: 90px;
    line-height: 95%;
    @media screen and (max-width: 1360px) {
      font-size: 8.5vw;
    }
  }
}

.me {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: -15rem;
  bottom: -3rem;
  z-index: 2;
  @media screen and (max-width: 1360px) {
    left: -30rem;
  }
}

.wrapperbg {
  user-select: none;
  pointer-events: none;
  opacity: 0.1 !important;
  right: 0;
  position: absolute;
  font-family: "Poppins", sans-serif;
  text-align: right;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  & h1 {
    font-size: 90px;
    line-height: 95%;
    @media screen and (max-width: 1360px) {
      font-size: 9vw;
    }
  }
  & h2 {
    font-size: 120px;
    line-height: 95%;
    @media screen and (max-width: 1360px) {
      font-size: 10vw;
    }
  }
}

.foot {
  position: absolute;
  width: 100%;
  bottom: 3rem;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  z-index: 5;
}
