.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  @media screen and (min-width: 1360px) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  overflow-x: hidden;
}

.Container {
  grid-column: 2/12;
  // display: none;
  @media screen and (min-width: 1360px) {
    grid-column: 2/8;
  }
}

.Loader {
  grid-column: 1/-1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  & p {
    font-size: 40px;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  }
  & .m {
    position: absolute;
    font-size: 300px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    opacity: 0.1;
  }
  & .w {
    width: 5rem;
    height: 5px;
    border-radius: 100px;
    overflow: hidden;
    & hr {
      border-radius: 100px;
      background-color: #fff;
      width: 100%;
      height: 100%;
    }
  }
}

